.actionsBarBottom
{
    display: block;
    position: fixed;
    bottom: 3%;
    left: 80%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.884);
    border-radius: 2rem;
}

.actionsBarBottom > button {
  padding: 0.5rem 2rem;
  margin-right: 0.5rem;
  border-radius: 1.25rem;
  border: 0;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
}

.actionsBarBottom > button:hover,
.actionsBarBottom > button:focus {
    background-color: black;
    color: white;
}

.actionsBarBottom > button:last-child {
    margin-right: 0;
}

@media (max-width: 1640px)
{
    .actionsBarBottom > button {
    padding: 0.5rem 1.75rem;
    margin-right: 0.5rem;
    border-radius: 1.25rem;
    border: 0;
    font-size: 1rem;
    transition: all 0.1s ease-in-out;
    }
}

@media (max-width: 1280px)
{
    .actionsBarBottom > button {
    padding: 0.5rem 1.5rem;
    margin-right: 0.5rem;
    border-radius: 1.25rem;
    border: 0;
    font-size: 1rem;
    transition: all 0.1s ease-in-out;
    }
}

@media (max-width: 1155px)
{
    .actionsBarBottom > button {
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
    border-radius: 1.25rem;
    border: 0;
    font-size: 1rem;
    transition: all 0.1s ease-in-out;
    }
}
